@model MeuEcommerce.Models.Compra


@{
    ViewBag.Title = "CompraRealizada";
}

<h2>Compra Realizada com sucesso</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Produto</td>
            <td>Quantidade</td>
            <td>Preço</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.CompraItens)
        {
            <tr>
                <td>
                    @item.Produto.Nome
                </td>
                <td>
                    @item.Qtd
                </td>
                <td>
                    @item.PrecoTotal
                </td>
            </tr>
        }

    </tbody>

</table>
        Valor total: @Model.PrecoTotal
<p></p>
        Status: @Model.Status.ToString()