@model MeuEcommerce.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}



</style>

   </head>
<body>

    <p>

        <form action="" method="get" id="frmCategoria" class="option">
            <span>CATEGORIAS</span>
    </p>
    
    <select style="padding-left: 0px; width: 100px;" id="categoria" name="categoria" class="form-control" onchange="$('#frmCategoria').submit()">
        <option value="">Tudo</option>
        @foreach (var item in Model.Categorias)
        {
            if (item.Id == Model.CategoriaSelecionada)
            {
                <option selected value="@item.Id">@item.Nome</option>
            }
            else
            {
                 <option value="@item.Id">@item.Nome</option>
            }
            
        }
    </select>
    </form>


       

    @*<button type="button" class="btn btn-info">Ir</button>*@
    </p>
    <div>
        <div class="container">

            <div class="row">

                @foreach (var item in Model.Produtos)
                {
                    <div class="card produto-item " style="width: 18rem;">
                        <img style="padding-top: 6px;" class="card-img-top" src="@item.Imagem" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title">@item.Nome</h5>
                            <p class="card-text">Smart TV Samsung 4k Ultra HD</p>
                            <button onclick="carrinho()" type="button" class="btn btn-primary btn-sm">Adicionar</button>
                            <span style="font: bold;padding-left: 10%;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 110%">R$ @item.Preco.ToString("N2")</span>
                        </div>
                    </div>
                }





            </div>
        </div>
    </div>

